body {
    background-image: url("https://www.thoughtco.com/thmb/WSWLaAVh3O9iBAQXMgwVmnESHWU=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/generic-java-code-183805843-591c9bfa5f9b58f4c0e04ce0.jpg");
  }
  
    h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 150px;
  }
   h2 {
       color:rgb(255, 255, 255)
   }

    h3 {
        color: rgb(255, 255, 255);
        margin-bottom: 150;
    }

    h4 { 
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 13px;
    text-align: center;
    margin-top: 50px;
  }


  p { 
    color: rgb(255, 255, 255);
    font-family: verdana;
    font-size: 13px;
    text-align: center;
    margin-top: 200px;
  }