body {
    background-image: url("https://wallpapercave.com/wp/wp2912332.jpg")
}
h1 {
    text-align: center;
    margin-bottom: 50px;

}

p {
    text-align: center;
    margin-top: 50px;


}





































